---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-service
  namespace: {{ k8s_namespace }}
  labels:
    app: {{ app_name }}
spec:
  type: {{ service_type }}
  selector:
    app: {{ app_name }}
  ports:
  - port: {{ service_port }}
    targetPort: {{ container_port }}
    protocol: TCP
    name: http
  sessionAffinity: ClientIP
